<div class="border border-secondary">
  <p class="text-left">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    ジャンル検索
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ケーキ</li>
    <li class="list-group-item">焼き菓子</li>
    <li class="list-group-item">プリン</li>
    <li class="list-group-item">キャンディー</li>
  </ul>
</div>
</p>
</div>

<div class="card" style="max-width: 400px;">
  <img class="card-img" src="/チョコ.jpeg"="">
  <div class="card-img-overlay">
    <p class="text-bark">ここにテキストが入ります。</p>
  </div>
</div>

<div class="container-fluid"><%= image_tag 'ケーキ.jpeg',size:'600x300' %><br>
<div calss ="text">
<a>ようこそ、ながのCAKEへ！</a><br>
<a>このサイトは、ケーキ販売のECサイトになります。</a><br>
<a>会員でない方も商品の閲覧はできますが、</a><br>
<a>購入には会員登録が必要になります。</a><br>
</div>
</div>
<h3><strong>新着商品</strong></h3>