<div class="container">
  <!--<div class ="row">-->
<h3><span style="background-color: silver;">会員一覧</span></h3>
<table width="900",align="center">
    <thead>
      <tr class="p-3 mb-2 bg-secondary text-white">
        <th><b>会員ID</b></th>
        <th><b>氏名</b></th>
        <th></th>
        <th></th>
        <th><b>メールアドレス</b></th>
        <th><b>ステータス</b></th>
     </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
      <td></td>
      <td></td>
      <td><%= customer.email %></td>
      <td><% if customer.is_deleted %>
          <span style="color:grey;">退会</span>
       <% else %>
          <span style="color:limegreen;">有効</span>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
   <div class="center-block">
    <div><%= paginate @customers %></div>
  </div>
  </div>
 