<div class ="container">
  <h3><span style="background-color: silver;">注文履歴一覧</span></h3>
  
  <table width="900",align="center">
    <thead>
      <tr class="p-3 mb-2 bg-secondary text-white">
        <th><b>購入日時</b></th>
        <th><b>購入者</b></th>
        <th></th>
        <th><b>注文個数</b></th>
        <th><b>注文ステータス</b></th>
     </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at.strftime('%Y/%m/%d'), admin_order_path(customer.id) %></td>
      <td><%= order.name %></td>
      <td></td>
      <!--<td>%=注文個数を表示させたい  %></td>-->
      <!--td>%=注文ステータス入れたい  %></td>-->
    </tr>
    <% end %>
  </tbody>
  </table>
</div>