<div class ="container">
  <h3><span style="background-color: silver;">注文履歴一覧</span></h3>
  
  <table width="900",align="center">
    <thead>
      <tr class="p-3 mb-2 bg-secondary text-white">
        <th><b>商品ID</b></th>
        <th><b>商品名</b></th>
        <th></th>
        <th><b>税抜価格</b></th>
        <th><b>ジャンル</b></th>
        <th></th>
       <th><b>ステータス</b></th>
     </tr>
  </thead>
  <tbody>
    
    
    
  </tbody>
  </table>
  </div>