<div class ="container">
  <div class="row">
    <div class="col-8">
      <h3><span style="background-color: silver;">ショッピングカート</span></h3>
    </div>
    <div class="col-4">
    <%= link_to "カートを空にする", cart_items_path,class: "btn btn-danger" %>
    </div>
  </div>
  
  
  
  
  
  </div>