<div class ="container">
  <h3><span style="background-color: silver;">注文情報入力</span></h3>
    <strong>支払方法</strong><br>
    <strong>お届け先</strong>
  <div class ="container text-center">
    <%= link_to "確認画面へ進む", comfirm_orders_path,class: "btn btn-primary" %>
  </div>
  </div>
