
 <div class ="container-fluid">
    <div ="row">
      <h2><strong>商品一覧</strong></h2><p>(全x件)</p>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            ジャンル検索</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ケーキ</li>
                  <li class="list-group-item">焼き菓子</li>
                  <li class="list-group-item">プリン</li>
                  <li class="list-group-item">キャンディー</li>
              </ul>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <% @item.each do |item| %>
        <div class="card" style="width: 18rem;">
          <% if item.image.attached? %>
            <%= image_tag item.image %>
          <% else %>
            <%= image_tag "no_image.jpeg" %>
          <% end %>
          <div class="card-body">
            <p class="card-text"><%= item.name %></p>
            <p class="card-text">¥<%= (item.price.to_s(:delimited)) %></p>
            
          </div>
        </div>
      <% end %>
  </div>
    
  </div>